@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:700i&display=swap');

.leypa-modal-content {
  /* background-color:#0f2043; */
  min-height: 40vh;
  font-family: 'Alegreya Sans', sans-serif;
  margin : 5vh 35vw 0vh 35vw;
  padding:20px 20px 20px 0px;
  border-radius: 5px;
  border:1px solid #005b8f;
}
#details-horizontal-divider {  
  height: 1px;
  color: #233323;
  background-color: #233323;
  border: none;
  margin:5px 10px;
}

.button_with_pointer_events_enable {
  margin-top:3vh;
  padding:10px 20px;
  border: 2px solid #222;
  color: #222;
  cursor:pointer;
  font-size:16px;
  margin-left:2vw;
  border-radius: 5px;
}
#inputLabel2 {
  background-color:transparent;
  color :#005b8f;
  /* border:1px solid #325c79; */
  padding:10px 20px;
  text-align: center;
  margin-left:3vw;
  font-size:14px;
}
.disable_button {
  pointer-events: none;
  opacity: 0.2;
}

.tabs {
  max-width: 500px;
  color:#a6a6a6;
  text-align: center;

}
.tabs input[type=radio] {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0px -0.5px;
  width: 30%;
  border-bottom: 1px solid #222;
  text-align: center;
  font-size: 18px;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border-bottom-width: 3px;
}

.tabs #tab1:checked ~ .content #signup,
.tabs #tab2:checked ~ .content #login {
  margin-top:20px;
  display: block;
}

.tabs .content > div {
  display: none;
  text-align: left;
  overflow: auto;
}
#invalid_pswd {
  color:#d05252;
  font-size:14px;
  display:flex;
  margin-left:13vw;
}

#dontShow {
  display:none;
}

#welcome {
  color:#79cedc;
  font-size:14px;
  display:flex;
  margin-left:5vw;
}

#reg_failed {
  color:red;
  font-size:14px;
  display:flex;
  margin-left:5vw;
}
.txIllusion {
  margin-bottom: 20px;
  margin-left: 40px;
  display:flex;
}

.txIllusion > .intermediate {
  width:30vw;
  border:none;
  margin-top: 26px;
  margin-left:-10vw;
  border-top: 2px dotted rgb(213, 164, 88);
}
.txIllusion #special_Border {
  font-size: 28px;
  background-color:#0f2043;
  border:2px solid #d5a459;
  color:#222;
}
.truncate_address {
  width: 150px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  color:#f2f2f2;
  text-overflow: ellipsis;
}
.home_container {
  background-color:#0f2043;
  min-height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
  padding:20vh 25vw 20vh 30vw;
}

.profile_screen {
  background-color:#fbfbfb;
  min-height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
  padding:5vh 25vw 20vh 30vw;
}
#details {
  display: flex;
  flex-direction: column;
}

#details div {
  margin-bottom: 5px;
}
#detail_label {
  color:#bababa;
}

#listitem-c19 {
  margin-bottom: 10px;
}