@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:700i&display=swap');


.button_with_pointer_events_enable {
  margin-top:3vh;
  padding:10px 20px;
  border: 2px solid #222;
  color: #222;
  cursor:pointer;
  font-size:16px;
  margin-left:2vw;
  border-radius: 5px;
}
#inputLabel2 {
  background-color:transparent;
  color :#8bd8bd;
  padding:10px 20px;
  text-align: center;
  margin-left:3vw;
  font-size:14px;
}
.disable_button {
  pointer-events: none;
  opacity: 0.2;
}

.tabs {
  max-width: 600px;
  margin-top: 40px;
  padding: 0 20px;
  color:#fff;
}
.tabs input[type=radio] {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0px -0.5px;
  width: 40%;
  border-bottom: 1px solid rgb(213, 164, 88);
  text-align: center;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border-bottom-width: 3px;
}

.tabs #tab1:checked ~ .content #signup,
.tabs #tab2:checked ~ .content #login {
  display: block;
  padding:30px;
}

.tabs .content > div {
  display: none;
  padding: 20px;
  /* margin-left:8vw; */
  text-align: left;
  overflow: auto;
}

#invalid_pswd {
  color:#d05252;
  font-size:14px;
  display:flex;
  margin-left:4vw;
}

#dontShow {
  display:none;
}

#welcome {
  color:#79cedc;
  font-size:14px;
  display:flex;
  margin-left:5vw;
}

#reg_failed {
  color:red;
  font-size:14px;
  display:flex;
  margin-left:5vw;
}
.txIllusion {
  margin-bottom: 20px;
  margin-left: 40px;
  display:flex;
}

.txIllusion > .intermediate {
  width:30vw;
  border:none;
  margin-top: 26px;
  margin-left:-10vw;
  border-top: 2px dotted rgb(213, 164, 88);
}
.txIllusion #special_Border {
  font-size: 28px;
  background-color:#0f2043;
  border:2px solid #d5a459;
  color:#222;
}
.truncate_address {
  width: 150px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  color:#f2f2f2;
  text-overflow: ellipsis;
}
.home_container {
  background-color:#0f2043;
  min-height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
  padding:20vh 25vw 20vh 30vw;
}

.profile_screen {
  background-color:#fbfbfb;
  min-height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
  padding:5vh 10vw 0vh 0vw;
}
#details {
  display: flex;
  flex-direction: column;
}

#details div {
  margin-bottom: 5px;
}
#detail_label {
  color:#bababa;
}

#listitem-c19 {
  margin-bottom: 10px;
}

.container_tracy {
  margin:0vh 30vw;
  /* background-color: #243665; */
  text-align:center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.container_tracy img {
  margin-left:12vw;
}
.leypa-modal-content {
  margin-left:0vw;
  min-height: 40vh;
  font-family: 'Alegreya Sans', sans-serif;
}