.app_bg {
  margin: 0;
  background-color: #243665;
  overflow: auto; 
  padding:15vh 0vh; 
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
